/*******-*****/
/** GENERAL **/
/*************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  --dark: #1f2428;
  --brigth: #24292e;
  --darker: #161a1d;
  --remark: #857ee2;
}

.App {
  width: 100vw;
  height: 100vh;
  display: grid;
  background-color: black;
  margin: auto;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 2rem 2rem 1fr 4rem;
  grid-template-areas:
    "fakeHeader  fakeHeader"
    "icons  menu    "
    "icons  main    "
    "footer  footer  ";
}

.App > * {
  /* border: 0.1px blue solid; */
  color: white;
}

.fakeHeader {
  padding-left: 0.5rem;
  grid-area: fakeHeader;
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 2rem;
  background-color: var(--dark);
}

.menu {
  display: flex;
  /* gap: 1rem; */
  grid-area: menu;
  background-color: var(--dark);
  font-size: 1.5rem;
  border-top: 2px solid var(--darker);
  border-left: 2px solid var(--darker);
}

.icons {
  display: flex;
  flex-direction: column;
  grid-area: icons;
}
.verticalMenu {
  display: none;
}

.main {
  grid-area: main;
  background-color: var(--brigth);
  border-left: 2px solid var(--darker);
}

.footer {
  grid-area: footer;
}

@media (min-width: 600px) {
  .verticalMenu {
    display: flex;
    flex-direction: column;
    grid-area: verticalMenu;
  }
  .App {
    grid-template-columns: 1fr 1fr 5fr;
    grid-template-rows: 2rem 2.5rem 1fr 2rem;
    grid-template-areas:
      "fakeHeader fakeHeader fakeHeader   "
      "icons verticalMenu menu    "
      "icons verticalMenu main    "
      "footer footer footer  ";
  }
}
